<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="encuestadorADO" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\SistemaEncuestador.mdb;Persist Security Info=True"/>-->
    <add name="encuestadorADO" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source= C:\Users\Nicolas\Documents\Visual Studio 2012\Projects\nramirez36 - Proyectos\Encuestador\Encuestador.BD\SistemaEncuestador.mdb;Persist Security Info=True"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
